[submodule "sandfly"]
	path = sandfly
	url = https://github.com/axiondarkmatterexperiment/sandfly.git
[submodule "monarch"]
	path = monarch
	url = https://github.com/axiondarkmatterexperiment/monarch.git
